<?php

/**
 * For further information on zend session configuration options have a look at:
 * @see https://docs.zendframework.com/zend-session/config/#standard-config
 */
return [
    'session' => [
        'config' => [
            'options' => [
                'name'            => 'my_session_name',
                'use_cookies'     => true,
                'cookie_lifetime' => 7200,
                'cookie_httponly' => true,
                'cookie_secure'   => false,
                'cookie_path'     => null,
                'cookie_domain'   => null,
            ],
        ],
    ],
];